
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NAT LAN</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">


  <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
  </head>
<style type="text/css">
  .navbar-nav > li{
  font-size: 14px;
}
</style>
  <body style="padding-top: 70px;">

    <!-- Fixed navbar -->
    {% include 'navbar.html' %}

    <div class="container">
      <div class="col-md-8 col-md-offset-2">
         <h3 style="text-align:center">Ask a Question...</h3>

        <div class="panel panel-default">
          <div class="panel-body">
            <form id="form"  role="form" method="post">
              
              <div class="form-group">
                <input type="text" class="form-control" name="question" placeholder="What is the capital of india?" {{('value="%s"' %oldform['question'])|safe if retry}} required>
              </div>   
            </form>
          </div>
          {% include 'flash.html'%}
        </div> 
      </div>

      <div class="col-md-10 col-md-offset-1">
          <h3>History</h3>
          <table id="history" class="table table-hover">
            <thead>
                        <tr>
                          <th class="col-md-1">Sl No:</th>                        
                          <th class="col-md-7"> Question </th>
                          <th class="col-md-4">Answer</th>
                        </tr>
            </thead>
            <tbody>
                        {% set i = 1 %}
                        {% for q in history %}
                        <tr>
                        
                          <td class="col-md-1">{{i}}</td>
                          <td class="col-md-7">{{q.question}}</td>
                          <td class="col-md-4">{{q.answer}}</td>
                        
                        </tr>
                        {% set i = i +1 %}
                        {% endfor %}
            </tbody>
          </table>
        </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
